$corPrincipalLight-1: #00e1bb;
$corPrincipalLight-2: #85d4c7;
$corPrincipal: #013129;
$corPrincipalDark: #03483d;

@font-face {
	font-family: PermanentMarker;
	src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
	font-family: MontserratLight;
	src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
	font-family: MontserratRegular;
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: MontserratBold;
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

body {
	font-family: MontserratRegular;
}

.section-title {
	font-family: PermanentMarker;
	color: #085346;
	font-size: 110px;
	transform: rotate(-5deg);
	margin-bottom: 100px;
}

.bg-gradient-principal {
	background-image: radial-gradient($corPrincipalDark 30%, $corPrincipal 70%);
}
.bg-gradient-multiple-principal {
	background-image: linear-gradient($corPrincipalDark, $corPrincipal, $corPrincipal, $corPrincipalDark);
}
.bg-principal {
	background-color: $corPrincipal;
}

.navbar-nav {
	a {
		color: $corPrincipalLight-2 !important;
		&:hover {
			color: #fff !important;
		}
	}
}

.navbar-brand {
	img {
		width: 150px;
	}
}

.btn-primary {
	background-color: $corPrincipal;
	border-color: $corPrincipal;
	&:hover {
		background-color: #098771;
		border-color: #098771;
	}
	&:focus {
		background-color: #098771;
		border-color: #098771;
		box-shadow: 0 0 0 0.25rem rgba(49, 253, 219, 0.5);
	}
}
.btn-outline-success {
	color: $corPrincipalLight-1;
	border-color: $corPrincipalLight-1;

	&:hover {
		background-color: $corPrincipalLight-1;
		border-color: $corPrincipalLight-1;
		color: $corPrincipal;
	}
}

#inicio {
	padding-top: 10rem;
}

.card {
	background-color: #023b32;
	padding: 1rem;
	border-radius: 10px;
	border-bottom: 10px solid $corPrincipalLight-1;
	height: 100%;
	i {
		font-size: 2.1em;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 0.03em;
		-webkit-text-stroke-color: $corPrincipalLight-1;
		position: absolute;
		top: -35px;
		background-color: $corPrincipalDark;
		padding: 1rem;
		border-radius: 50%;
		width: 77px;
		border: 5px solid $corPrincipal;

		&.fa-sitemap,
		&.fa-code {
			font-size: 1.8em;
		}
	}
	.card-title {
		font-weight: bold;
		font-size: 24px;
		color: white;
		margin-top: 2rem;
	}
	.card-text {
		margin-top: 1rem;
		color: $corPrincipalLight-2;
	}
}

#skills-icons {
	i {
		color: $corPrincipalLight-1;
	}
	p {
		font-family: MontserratLight;
	}
}
